-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "User" (
    "id" SERIAL NOT NULL,
    "nickname" TEXT,
    "telegramId" BIGINT NOT NULL,
    "binanceApiKey" TEXT,
    "binanceApiSecret" TEXT,
    "paradexAccountAddress" TEXT,
    "paradexPrivateKey" TEXT,
    "lighterL1Address" TEXT,
    "lighterPrivateKey" TEXT,
    "lighterApiKeyIndex" INTEGER,
    "lighterAccountIndex" INTEGER,
    "extendedApiKey" TEXT,
    "extendedStarkPublicKey" TEXT,
    "extendedStarkPrivateKey" TEXT,
    "extendedVaultId" INTEGER,
    "hlPrivateKey" TEXT,
    "hlWalletAddress" TEXT,
    "hlAccountEth" TEXT,
    "binanceApiKeyTest" TEXT,
    "binanceApiSecretTest" TEXT,
    "paradexTestAccountAddress" TEXT,
    "paradexTestPrivateKey" TEXT,
    "hlTestPrivateKey" TEXT,
    "hlTestWalletAddress" TEXT,
    "hlTestAccountEth" TEXT,
    "extendedTestApiKey" TEXT,
    "extendedTestStarkPublicKey" TEXT,
    "extendedTestStarkPrivateKey" TEXT,
    "extendedTestVaultId" INTEGER,
    "lighterTestL1Address" TEXT,
    "lighterTestPrivateKey" TEXT,
    "lighterTestApiKeyIndex" INTEGER,
    "lighterTestAccountIndex" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_telegramId_key" ON "User"("telegramId");

